[submodule "dependencies/axl.util"]
	path = dependencies/axl.util
	url = https://github.com/Defalt8/axl.util.git
[submodule "dependencies/axl.math"]
	path = dependencies/axl.math
	url = https://github.com/Defalt8/axl.math.git
[submodule "dependencies/axl.glfl"]
	path = dependencies/axl.glfl
	url = https://github.com/Defalt8/axl.glfl.git
